language: python
python:
    - 2.6
    - 2.7
    - pypy
before_install:
    - sudo add-apt-repository "deb http://us.archive.ubuntu.com/ubuntu/ trusty main restricted universe multiverse"
    - sudo add-apt-repository "deb http://us.archive.ubuntu.com/ubuntu/ trusty-updates main restricted universe multiverse"
    - sudo apt-get update -qq
    - sudo apt-get install libev-dev/trusty
install:
    - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install unittest2; fi
    - pip install --use-mirrors -r test-requirements.pip
services:
  - rabbitmq
script: nosetests -c nose.cfg
