Source: python-pika
Section: python
Priority: optional
Maintainer: Raphael De Giusti <raphael.degiusti@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
               python (>= 2.6.5~),
               python-support (>= 0.6),
               python-all-dev,
               cdbs,
               python-setuptools
Standards-Version: 3.9.4
XS-Python-Version: >=2.6
XB-Python-Version: ${python:Versions}
Homepage: http://pika.github.com/

Package: python-pika
Replaces: python-pika-ssl
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: AMQP client library
 Pika is a pure-Python implementation of the AMQP-0-9-1 protocol that tries to
 stay fairly independent of the underlying network support library. Pika was
 developed primarily for use with RabitMQ, but also works with other
 AMQP-0-9-1 brokers.
