<html>
    <head>
        <title>Pika/Torando Example</title>
        <meta http-equiv="refresh" content="5;url=/" />
        <link rel="icon" type="/image/vnd.microsoft.icon" href="http://www.rabbitmq.com/favicon.ico">
        <style type="text/css">html {font-family: Helvetica,Arial,Sans-Serif;font-size: 12px;}</style>
    <body>
        <h1>Pika/Torando Example</h1>
        <p>Connected: <strong>{{ connected }}</strong></p>
        <p>This example page with reload every 5 seconds, sending a message into RabbitMQ once it had connected and display the messages received and not delivered since the last time the page was reloaded. We will stop consuming messages after <strong>{{CLOSE_AFTER}}</strong> messages have been received and close the connection to demonstrate one way to reconnect to RabbitMQ on demand if needed.</p>
        <p>If you want to enqueue your own messages to be delivered here, just publish to the &ldquo;tornado&rdquo; exchange using the routing key of &ldquo;tornado.*&rdquo;</p>
        {% if len(messages) %} 
        <h2>Messages Received Asynchronously from RabbitMQ Since Last Load</h2>
        <ol>
            {% for message in messages %}
                <li>{{message}}</li>
            {% end %}
        </ol>
        {% else %}
        <p><strong>No Messages Pending</strong></p>
        {% end %}
    </body>
</html>